

  @media (max-width:992px) {
    .slider-caption h2{
      margin-bottom: 15px;
    }
    .slider-caption h1{
      font-size: 32px;
      margin-bottom: 30px;
    }
    .slider-caption .form-control{
      margin-bottom: 15px;
    }
  

  } 











